<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset ="UTF-8"/>
		<title th:text="${title}"></title>
		<link rel="icon" type="image/png" href="./favicon.png">
		
		<link href="/css/variables.css" rel="stylesheet" type="text/css">
		<link href="/css/fonts.css" rel="stylesheet" type="text/css">
		<link href="/css/styles.css" rel="stylesheet" type="text/css">
		<link href="/css/index.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
		<main>
			<h1 th:text="${title}"></h1>
			<h2 th:text="${subtitle}"></h2>
			<p th:text="${description}"></p>

			<div class="btnAreaDiv">
				<div class="btnDiv">
					<a href="/aboutme" target="_blank">
						<button type="button">Sobre mi</button>
					</a>
				</div>
				<div class="btnDiv">
					<a href="/contact" target="_blank">
						<button type="button">Contacto</button>
					</a>
				</div>
				<div class="btnDiv">
					<a href="/contactMsgList" target="_blank">
						<button type="button">Lista de mensages de contacto</button>
					</a>
				</div>
				<div class="btnDiv">
					<a href="/blog" target="_blank">
						<button type="button">Blog</button>
					</a>
				</div>
				<div class="btnDiv">
					<a href="/postForm" target="_blank">
						<button type="button">Crear entrada blog</button>
					</a>
				</div>
				<div class="btnDiv">
					<a href="https://github.com/VeronicaSj" 
						target="_blank">
						<button type="button">GitHub</button>
					</a>
				</div>
				<div class="btnDiv">
					<a href="https://www.linkedin.com/in/ver%C3%B3nica-s%C3%A1nchez-justicia-825a7421a/" target="_blank">
						<button type="button">LinkedIn</button>
					</a>
				</div>
			</div>
		</div>
		</main>
	</body>
</html>
